/home/will/Desktop/willdezenbookArch_dotfiles/st/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/slock/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/dmenu/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/dwm/.git/
vifminfo.json
videos.m3u
videos.m3u2
test.sh
test2.sh
batterycycle.log
