/home/will/Desktop/willdezenbookArch_dotfiles/st/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/slock/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/dmenu/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/dwm/.git/
/home/will/Desktop/willdezenbookArch_dotfiles/shellscripts/log/
